.jumbotron {
  background-image: url('./img/stars.JPG'); 
  background-size: cover; 
  background-repeat: no-repeat; 
}
.display-3 {
  font-size: 58px ;
  text-align: center;
}
.row {
  display: flex;
}
.h1 {
  font: 100;
}


